* {
  /* background-color: blueviolet;
  box-sizing: border-box; */
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.container div {
  height: 10rem;
  width: 10rem;
  border: solid black;
  margin: 10px;
}

.red {
  background-color: red;
}

body {
  margin: 0;
  font-family: Helvetica;
}
