body {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "navbar navbar"
  "aside main"
  "footer footer";
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 3.125rem auto 2.5rem;
}

nav {
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  grid-area: navbar;
}

nav div {
  color: lawngreen;
  font-size: 20px;
  margin: 10px;
}

nav div:last-child{
  margin-left: auto;
}

aside {
  background: lightgray;
  color: lawngreen;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: aside;
}

main {
  background-color: black;
  color: lawngreen;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
}

footer {
  display: flex;
  background-color: grey;
  color: lawngreen;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}

@media (max-width: 500px) {
  body {
    grid-template-areas:
    "navbar"
    "aside"
    "main"
    "footer";
    grid-template-columns: 1fr; 
    grid-template-rows: .8fr 1fr 3fr 3fr;
  }
}